.member--wrap{display: flex;width: 100%;max-width: calc(1280px + var(--sidePadding--)*2);padding:100px var(--sidePadding--) 0;margin-left: auto;margin-right: auto;margin-bottom: 130px;}
.member--aside{width: 305px;color: #fff;}
.member--aside-hello{font-size: 24px;display: flex;margin-bottom: 1em;}
.member--aside-hello span{font-weight: 700;}
.member--aside-myInfo{display: flex;padding: 20px;}
.member--aside-myInfo-name{display: flex;align-items: center;font-size: 18px;font-weight: 600;}
.member--aside-myInfo-name span{width: 8px;height: 8px;border: solid #fff;border-width: 2px 2px 0 0;transform: rotate(45deg);display: block;}
.member--aside-myInfo-id{font-size: 15px;color: #aaa;margin-top: 10px;}
.member--aside-menu{margin-top: 20px;}
.member--aside-menuItem,
.member--aside-myInfo{background-color: var(--black02--);border-radius: 10px;}
.member--aside-myInfo-img{width: 48px;height: 48px;border-radius: 50%;background-size: cover;background-position: center center;position: relative;margin-right: 28px;}
.member--aside-myInfo-img a{position: absolute;bottom: 0;right: 0;}
.member--aside-menuItem.on{background-color: var(--blue02--);}
.member--aside-menuItem:not(:last-child){margin-bottom: 10px;}
.member--aside-menuItem a{display: flex;position: relative;align-items: center;padding: 11px 20px;}
.member--aside-menuItem p{font-size: 15px;font-weight: 700;margin-left: 20px;display: flex;align-items: center;}
.member--aside-menuItem a span{width: 8px;height: 8px;border: solid #fff;border-width: 2px 2px 0 0;transform: rotate(45deg) translate(-50%,-50%);display: block;position: absolute;top: 50%;right: 20px;}
.member--contents{width: calc(100% - 305px);padding-left: 20px;}
.member--contents-wrap01{width: 100%;max-width: 522px;margin-left: auto;margin-right: auto;display: flex;flex-direction: column;align-items: center;}
.member--contents-wrap02{width: 100%;max-width:850px;margin-left: auto;display: flex;flex-direction: column;align-items: center;}
.member--contents-wrap03{width: 100%;max-width:740px;margin-left: auto;margin-right: auto;display: flex;flex-direction: column;align-items: center;}
@media all and (max-width:1024px){
    .member--wrap{flex-direction: column;}
    .member--aside{width: 100%;}
    .member--contents{width: 100%;padding-left: 0;margin-top: 60px;}
    .member--contents-wrap01{max-width: unset;}
    .member--contents-wrap02{max-width: unset;}
    .member--contents-wrap03{max-width: unset;}
    .member--aside-menu{display: flex;margin-top: 10px;flex-wrap: wrap;}
    .member--aside-menuItem{width: calc(25% - 30px / 4 );}
    .member--aside-menuItem:not(:last-child){margin-bottom: 0;margin-right: 10px;}
    .member--aside-menuItem a{padding: 8px 10px;}
    .member--aside-menuItem a img{width: 30px;height: 30px;}
    .member--aside-menuItem a p{margin-left: 10px;font-size: 13px;}
    .member--aside-menuItem a span{transform: rotate(45deg)translate(-50%,-30%);right: 14px;}
}
@media all and (max-width:767px){
    .member--aside-menuItem:not(:last-child){margin-bottom: 0;margin-right: 0;}
    .member--aside-menuItem:nth-child(odd){margin-right: 10px;}
    .member--aside-menuItem{width: calc(50% - 30px / 4 );margin-bottom: 10px !important;}
    .member--aside-menuItem a{padding: 8px 4px;}
    .member--aside-menuItem a p{font-size: 12px;margin-left: 3px;}
    .member--aside-menuItem a span{right: 10px;}
}

.member--title-text{font-size: 32px;font-weight: 700;color: var(--yellow--);margin-bottom: 1em;text-align: center;}
.member--title-text02{font-size: 16px;color: var(--grayBlue--);margin-top: 20px;}
.member--onoff-switch{display: flex;padding: 10px;border-radius: 40px;height: 80px;width: 100%;background-color: var(--black02--);justify-content: space-between;}
.member--onoff-button{width: calc(50% - 5px);border-radius: 30px;font-size: 18px;font-weight: 700;color: var(--grayBlue--);display: flex;align-items: center;justify-content: center;cursor: pointer;}
.member--onoff-button.on{background-color: var(--grayBlue3--);color: #fff;}
.member--onoff-noClass-icon{display: flex;align-items: center;justify-content: center;margin-top: 60px;}
.member--onoff-noClass-icon img{display: block;margin: auto;}
.member--onoff-text01{font-size: 32px;color: #fff;font-weight: 700;display: flex;align-items: center;margin:40px auto;}
.member--onoff-text01 img{margin-left: 10px;}
.member--onoff-go{display: flex;justify-content: center;}
.member--onoff-go a{background-color: var(--blue02--);color: #fff;font-size: 16px;font-weight: 700;padding: 22px 10px;width: 197px;display: flex;justify-content: center;align-items: center;border-radius: 6px;margin-top: 40px;}

.member--wish{width: 100%;}
.member--wish-wrap{display: flex;flex-wrap: wrap;width: 100%;}
.member--wish-item{width: calc(25% - 60px/4);margin-bottom: 40px;}
.member--wish-item:not(:nth-child(4n)){margin-right: 20px;}
.member--wish-thumb{position: relative;}
.member--wish-thumb-img{padding-top: 85%;background-color: #fff;position: relative;border-radius: 10px;}
.member--wish-like{cursor: pointer;position: absolute;bottom: 10px;right: 10px;width: 40px;}
.member--wish-like img{display: block;width:100%;}
.member--wish-onoff{position: absolute;top: 10px;left: 10px;}
.member--wish-on{font-size: 11px;background-color: var(--black02--);}
.member--wish-off{font-size: 11px;background-color: #ff380a;}
.member--wish-on,.member--wish-off{padding: 8px;border-radius: 4px;color: #fff;display: none;}
.member--wish-on.on,.member--wish-off.on{display: block;}
.member--wish-text{color: #fff;font-weight: 700;line-height: 1.66;margin-top: 1em;}

.member--ask-form{width: 100%;}
.member--ask-input{position: relative;width: 100%;}
.member--ask-input textarea,
.member--ask-input input{display: block;width: 100%;padding: 20px;border: 0px solid #000;border-radius: 10px;background-color: var(--black02--);color: #fff;font-size: 16px;}
.member--ask-input textarea:focus,
.member--ask-input input:focus{border: 0px solid #000;outline: none;}
.member--ask-input:first-child{margin-bottom: 20px;}
.member--ask-inputBig textarea{height: 100%;min-height: 280px;resize: none;}
.member--ask-input p {position: absolute;color: #aaa;bottom: 20px;right: 20px;}
.member--ask-buttons{width: 100%;max-width: 410px;display: flex;margin: 40px auto;justify-content: space-between;}
.member--ask-buttons a,
.member--ask-buttons input{width: calc(50% - 8px);color: #fff;padding: 22px 10px;text-align: center;border-radius: 6px;font-size: 16px;font-weight: 700;}
.member--ask-buttons a{background-color: var(--black02--);}
.member--ask-buttons input{background-color: var(--blue02--);outline: none;border: 0px solid #000;cursor: pointer;}

.member--ask-input-check{margin-top: 16px;cursor: pointer;color: var(--grayBlue--);display: flex;align-items: center;}
.member--ask-input-check span{width: 20px;height: 20px;border-radius: 50%;background-color: #aaa;display: block;position: relative;margin-right: 7px;}
.member--ask-input-check span::after{position: absolute;top: 50%;left: 50%;width: 4px;height: 7px;border: solid #fff;border-width: 0 2px 2px 0;content: '';transform: translate(-50%,-60%) rotate(45deg);}
.member--ask-input-check.on span{background-color: var(--blue02--);}
.hideInput{opacity: 0;pointer-events: none;}

.member--ask-noask-img img{display: block;margin: auto;width: 80%;max-width: 160px;}
.member--ask-noask-text01{font-size: 32px;font-weight: 700;color: #fff;margin-top: 1em;text-align: center;}
.member--ask-noask-toWrite{border-radius: 6px;background-color: var(--blue02--);font-size: 16px;font-weight: 700;color: #fff;display: flex;text-align: center;justify-content: center;align-items: center;padding: 23px 10px;width: 100%;max-width: 197px;margin: 40px auto 0;color: #fff;}
.member--ask-list{width: 100%;}
.member--ask-listItem{padding: 28px 32px;display: flex;color: #fff;width: 100%;background-color: var(--black02--);justify-content: space-between;border-radius: 10px;}
.member--ask-listItem:not(:last-child){margin-bottom: 16px;}
.member--ask-listItem-text01{font-size: 20px;font-weight: 700;margin-bottom: 1em;}
.member--ask-listItem-text02{color: #aaa;font-size: 12px;}
.member--ask-listItem-state{display: flex;align-items: center;}
.member--ask-listItem-state p{width: 55px;text-align: center;align-items: center;display: flex;border-radius: 12px;height: 24px;color: #fff;font-size: 11px;justify-content: center;}
.member--ask-listItem-state-true{background-color: var(--blue02--);}
.member--ask-listItem-state-false{background-color: var(--grayBlue3--);}
.member--ask-yesask-wonder{font-size: 14px;color: var(--grayBlue--);text-align: center;margin-top: 40px;}